<div class="c-accordion">
    {% for index in 1..3 %}
        <div
            class="c-accordion__item {{ index == 1 ? 'is-open' }}"
            data-collapse-item
        >
            <div class="c-accordion__heading">
                <div class="flex items-center">
                    <h3 class="c-accordion__title">Питання {{ index }}</h3>
                    <span class="c-accordion__count">3</span>
                </div>

                <button
                    type="button"
                    aria-label="Відкрити відповідь"
                    data-collapse-target="#accordionAnswer{{ index }}"
                    class="c-accordion__btn f-btn--overlay {{ index == 1 ? 'is-open' }}"
                >
                    {% if loop.index == 1 %}
                        <i class="c-accordion__icon"></i>
                    {% else %}
                        {% include "../_app/icon.twig" with { id: 'angle' } %}
                    {% endif %}
                </button>
            </div>

            <div
                class="c-accordion__collapse c-collapse {{ index == 1 ? 'is-open is-shown' }}"
                id="accordionAnswer{{ index }}"
                data-collapse-pane
            >
                <div
                    class="c-accordion__collapse-inner"
                    data-collapse-content
                >
                    <p>Далеко-далеко за&nbsp;словесними горами країни голосних і&nbsp;приголосних живуть рибні тексти. Рибними, лишилося? До, маленька буквоград? Погляд безорфографічний, міста рядок, він промовою знаках своє те, рукописи вони безпечні&nbsp;до! Країну, дороге!</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
