{% set id = id ?? 'formField' ~ random() %}

{% if not isFloat %}
    {% if label %}
        <label for="{{ id }}" class="f-label">{{ label }}</label>
    {% endif %}
{% endif %}

<div class="relative {{ wrapperClass }}">
    {% block fieldBefore %}{% endblock %}

    <select
        type="{{ type ?? 'text' }}"
        id="{{ id }}"
        name="{{ name ?? '' }}"
        class="
            f-field
            {{ error ? 'f-field--error' : '' }}
            {{ isFloat ? 'f-field--float' : '' }}
            {{ class }}
        "
        {{ attrs }}
    >
        <option value="" disabled selected>{{ placeholder }}</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>

    {% if isFloat %}
        {% if label %}
            <label for="{{ id }}" class="f-label">{{ label }}</label>
        {% endif %}
    {% endif %}

    {% block fieldAfter %}{% endblock %}
</div>

{% if error %}
    <span class="f-info f-info--error">{{ error }}</span>
{% endif %}
