{% extends '_templates/base.twig' %}

{% set pageTitle = 'Тестова сторінка' %}
{% set pageId = 'test' %}
{% set styleLinks = ['test'] %}
{# {% set htmlClass = 'is-nospace' %} #}

{% set modals %}
    {% include "./_components/modals/example.twig" %}
    {% include "./_components/modals/success.twig" %}
{% endset %}

{% set tooltips %}
    {% include "./_components/tooltips/example.twig" %}
{% endset %}

{% block content %}
    <div class="l-container">
        {% include "./_components/breadcrumbs.twig" %}
    </div>

    {% for carouselIndex in 1..2 %}
        <section class="mb-16 splide c-carousel c-carousel--{{ carouselIndex + 1 }}" data-carousel aria-labelledby="carouselHeading{{ carouselIndex }}">
            <div class="l-container">
                <div class="c-carousel__heading">
                    <h2 id="carouselHeading{{ carouselIndex }}" class="c-title c-title--h3">Карусель {{ carouselIndex }}</h2>

                    <div class="splide__arrows splide__arrows--ltr">
                        <button
                            class="splide__arrow splide__arrow--prev"
                            type="button"
                            aria-label="Previous slide"
                            aria-controls="splide01-track"
                        >
                            {% include "./_app/icon.twig" with { id: 'arrow' } %}
                        </button>
                        <button
                            class="splide__arrow splide__arrow--next"
                            type="button"
                            aria-label="Next slide"
                            aria-controls="splide01-track"
                        >
                            {% include "./_app/icon.twig" with { id: 'arrow' } %}
                        </button>
                    </div>
                </div>

                <div class="c-carousel__inner" data-gallery>
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for i in 1..3 %}
                                <li class="splide__slide">
                                    <a
                                        href="../img/demo/test_1920x980@2x.jpg"
                                        data-gallery-link
                                        data-pswp-width="1920"
                                        data-pswp-height="980"
                                    >
                                        <picture class="grid w-full text-2xl text-black border place-content-center h-96 bg-gray">
                                            <img src="../img/demo/test_1920x980.jpg" srcset="../img/demo/test_1920x980@2x.jpg 2x" alt="">
                                        </picture>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="splide__pagination"></div>
                </div>
            </div>
        </section>
    {% endfor %}

    <div class="l-container">
        <div class="mb-16">
            <h2 class="mb-5 c-title c-title--h3">Модальне вікно</h2>

            <button class="f-btn f-btn--primary f-btn--rounded" data-modal-target="#exampleModal">Приклад</button>
            <button class="f-btn f-btn--primary f-btn--rounded" data-modal-target="#successModal">Успішна відправка</button>
        </div>

        <div class="mb-16">
            <h2 class="mb-5 c-title c-title--h3">Тултіп</h2>

            <div class="mb-3">
                <button class="f-btn f-btn--primary f-btn--rounded" data-modal-target="#exampleModal" data-tooltip="Текст для прикладу">Приклад</button>
            </div>
            <div class="mb-3">
                <button class="f-btn f-btn--primary f-btn--rounded" data-modal-target="#exampleModal" data-tooltip-target="#exampleTooltip" data-tooltip-placement="bottom">Приклад ↓</button>
            </div>
            <div class="mb-3">
                <button class="f-btn f-btn--primary f-btn--rounded" data-tooltip-type="clickable" data-tooltip-target="#exampleTooltip" data-tooltip-placement="bottom">Клікабельний</button>
            </div>
        </div>

        <div class="max-w-sm mb-16">
            <h2 class="mb-5 c-title c-title--h3">Форма зворотнього зв'язку (VueJS)</h2>

            <div class="vue-feedback-form">
                <form class="">
                    <div class="f-group">
                        <input type="text" name="name" id="feedbackName" class="f-input" disabled placeholder=" ">
                        <label for="feedbackName" class="f-label">Ім'я</label>
                    </div>
                    <div class="f-group">
                        <input type="text" name="surname" id="feedbackSurname" class="f-input" disabled placeholder=" ">
                        <label for="feedbackSurname" class="f-label">Прізвище</label>
                    </div>
                    <div class="f-group">
                        <input type="email" name="email" id="feedbackEmail" class="f-input" disabled placeholder=" ">
                        <label for="feedbackEmail" class="f-label">Email</label>
                    </div>
                    <div class="f-group">
                        <input type="tel" name="phone" id="feedbackPhone" class="f-input" disabled placeholder="+380 00 000 00 00">
                        <label for="feedbackPhone" class="f-label">Номер телефону</label>
                    </div>
                    <div class="f-group">
                        <textarea name="comment" id="contactsComment" rows="3" class="f-input" placeholder=" " disabled></textarea>
                        <label for="contactsComment" class="f-label">Ваше запитання</label>
                    </div>

                    <div class="f-submit">
                        <div class="f-info c-text">Використовуючи сайт, ви&nbsp;приймаєте та&nbsp;погоджуєтеся з&nbsp;цими <a href="#">правилами та&nbsp;умовами використання</a> сайту</div>

                        <button type="submit" class="f-btn f-btn--primary f-btn--block f-btn--rounded" disabled>Відправити</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mb-16">
            <h2 class="mb-5 c-title c-title--h3">Таби</h2>

            <div data-tabs-parent>
                {% set tabs = [
                    {
                        title: 'Таб 1',
                        id: 'tabs1',
                    },
                    {
                        title: 'Таб 2',
                        id: 'tabs2',
                    },
                    {
                        title: 'Таб 3',
                        count: 10,
                        id: 'tabs3',
                    },
                ] %}

                {% include "./_components/tabs.twig" with { links: tabs, class: 'mb-5' } %}

                {% for item in tabs %}
                    <div class="c-tabs__pane {{ loop.first ? 'is-shown' }}" id="{{ item.id }}" data-tabs-pane>
                        {{ item.title }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mb-16">
            <h2 class="mb-2 c-title c-title--h3">Акордеон</h2>

            {% include "./_components/accordion.twig" %}
        </div>

        <div class="mb-16">
            <h2 class="mb-5 c-title c-title--h3">Карта</h2>

            {% include "./_components/map.twig" %}
        </div>

        {% include "./_components/pagination.twig" %}
    </div>
{% endblock %}
