<section class="embla {{ class }}" data-gallery data-carousel aria-labelledby="testCarouselHeading{{ index }}">
    <div class="container">
        <h2 id="testCarouselHeading{{ index }}" class="mb-5 c-title c-title--h3">Карусель {{ index }}</h2>

        <div class="embla__container">
            <div class="embla__track">
                <ul class="embla__list">
                    {% for i in 1..5 %}
                        <li class="embla__slide">
                            <a
                                href="../img/demo/test_1920x980@2x.jpg"
                                data-gallery-link
                                class="block w-full"
                                data-pswp-width="1920"
                                data-pswp-height="980"
                            >
                                <picture class="w-full relative block bg-gray-light h-96">
                                    <img class="inset-0 absolute size-full object-contain" src="../img/demo/test_1920x980.jpg" srcset="../img/demo/test_1920x980@2x.jpg 2x" alt="">

                                    <span class="absolute top-0 left-0 px-2 py-1 text-red-500 z-1">{{ i }}</span>
                                </picture>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="embla__controls mt-3">
                <button type="button" class="f-btn f-btn--icon f-btn--primary embla__arrow embla__arrow--prev">
                    <span class="sr-only">Previous</span>
                    {% include '_app/icon.twig' with { name: 'arrow', class: 'rotate-180' } only %}
                </button>

                <div class="embla__pagination {{ pagination ? 'embla__pages' : '' }}"></div>

                <button type="button" class="f-btn f-btn--icon f-btn--primary embla__arrow embla__arrow--next">
                    <span class="sr-only">Next</span>
                    {% include '_app/icon.twig' with { name: 'arrow' } only %}
                </button>
            </div>
        </div>
    </div>
</section>
